doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Angular Hybrid
    base(href="/")
  body
    div(ng-view)
